export(zscores_qvals)
export(AdmixProp)
export(PlotAdmix)
export(plotmanhattan)
export(GenomeAdapt)
export(GenomeAdapt.bed)
export(GenomeAdapt.vcf)
export(GenomeAdapt.gds)
S3method(GenomeAdapt,bed)
S3method(GenomeAdapt,vcf)
S3method(GenomeAdapt,gds)
importFrom("qvalue", "qvalue")
importFrom("SNPRelate", "snpgdsBED2GDS","snpgdsOpen", "snpgdsGRM", "snpgdsPCACorr", "snpgdsClose")
importFrom("gdsfmt", "read.gdsn","index.gdsn")
importFrom("robust","covRob")
importFrom("stats", "p.adjust", "qchisq","median", "na.omit")
importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "axis", "barplot", "lines", "par","plot", "text")
